$blue-dark: hsl(225, 30%, 13%);
$blue-mid: hsl(225, 11%, 30%);

$blue-accent: hsl(225, 50%, 50%);
$blue-accent-hover: hsl(225, 50%, 40%);

$grey-accent: hsl(225, 10%, 50%);
$grey-accent-hover: hsl(225, 10%, 40%);

$red-accent: hsl(357, 50%, 50%);
$red-accent-hover: hsl(357, 50%, 40%);

$text-subtle: hsl(227, 16%, 50%);

$text-accent: hsl(224, 29%, 90%);
$text-accent-hover: hsl(224, 29%, 80%);